@import "src/@fuse/scss/fuse";
#regis-masivo {

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    #titulo{
        width: 100%;
        float: left;
        padding-right: 20%;
    }

    #contentMasivo{
        width: 100%;
        float: left;
        border: 1px solid;
        padding: 20px;
    }
    #paso1{
        width: 100%;
        float: left;
    }
    #titulo1{
        width: 100%;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        float: left;
        border: 1px solid;
        border-radius: 10px 10px 0 0;
    }
    #content1{
        width: 100%;
        float: left;
    }
    #subtituto1{
        width: 10%;
        float: left;
    }
    #caja1{
        background: none repeat scroll 0 0;
        border: 1px solid;
        border-radius: 50%;
        font-size: 15px;
        padding: 3px 8px;
    }
    #partitulo1{
        width: 90%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding-right: 10%;
        text-align: center;
    }
    #divider1{
        height:190px;
        float :left;
        width : 0.5%;
        background-color: black;
        margin-left: 2.2%;
    }
    #tracking1{
        width: 95%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-left: 300px;
        padding-top: 40px;
    }
    #upload1{
        width: 20%;
        height: 23px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-left: 300px;
        margin-right: 5px;
        margin-top: 5px;
        border: 1px solid;
    }
    #fileTracking1{
        width: 45%;
        height: 23px;
        margin-top: 5px;
        margin-left: 5px;
        float: left;
    }
    #siguiente1{
        float: left;
        margin-left: 47%;
        margin-top: 20px;
    }
    #paso2{
        width: 100%;
        float: left;
    }
    #titulo2{
        width: 100%;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        border: 1px solid;
        border-radius: 10px 10px 0 0;
    }
    #content2{
        width: 100%;
        float: left;
    }
    #subtituto2{
        width: 10%;
        float: left;
    }
    #caja2{
        background: none repeat scroll 0 0;
        border: 1px solid;
        border-radius: 50%;
        font-size: 15px;
        padding: 3px 8px;
    }
    #partitulo2{
        width: 90%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding-right: 10%;
        text-align: center;
    }
    #divider2{
        height:190px;
        float :left;
        width : 0.5%;
        background-color: black;
        margin-left: 2.2%;
    }
    .archivo2{
        padding: 30px 30px 0px 30px;
        width: 48%;
        height: 115px;
        float: left;
        margin: 3px;
    }
    .tracking2{
        width: 100%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-left: 50px;
    }
    .upload2{
        width: 47.5%;
        height: 23px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-right: 5px;
        margin-top: 5px;
        margin-left: 50px;
        margin-right: 189px;
        border: 1px solid;
    }
    .icono2{
        float: left;
        margin-top: 5px;
        margin-left: 50px;
    }
    .link2{
        float: left;
        margin-top: 5px;
        margin-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration-line: underline;
    }
    #siguiente2{
        float: left;
        margin-left: 47%;
        margin-top: 20px;
    }
    #paso3{
        width: 100%;
        float: left;
    }
    #titulo3{
        width: 100%;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        border: 1px solid;
        border-radius: 10px 10px 0 0;
    }
    #content3{
        width: 100%;
        float: left;
    }
    #subtituto3{
        width: 10%;
        float: left;
    }
    #caja3{
        background: none repeat scroll 0 0;
        border: 1px solid;
        border-radius: 50%;
        font-size: 15px;
        padding: 3px 8px;
    }
    #partitulo3{
        width: 90%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding-right: 10%;
        text-align: center;
    }
    #divider3{
        height:190px;
        float :left;
        width : 0.5%;
        background-color: black;
        margin-left: 2.2%;
    }
    #tracking3{
        width: 95%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-left: 300px;
        padding-top: 40px;
    }
    #upload3{
        width: 20%;
        height: 23px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-left: 300px;
        margin-right: 5px;
        margin-top: 5px;
        border: 1px solid;
    }
    #fileTracking3{
        width: 45%;
        height: 23px;
        margin-top: 5px;
        margin-left: 5px;
        float: left;
    }
    #finalizar3{
        float: left;
        margin-left: 47%;
        margin-top: 20px;
    }
}

.button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }