#dialogDelete{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    #buttons{
        margin-right: 10%;
        margin-left: 15%;
        float: center;
        background-color: rgb(0, 162, 206);;
    }

}