<div id="nuevo-empleado" class="page-layout blank">
  <mat-tab-group [(selectedIndex)]="tabIndex">
    <mat-tab label="Datos Principales">
      <mat-card id="card-principales">
        <form [formGroup]="formGroup1">
            <div fxLayout="row">
              <div fxLayoutAlign="left start" id="titulo">
                <h1>Datos Personales</h1>
              </div>
              <div id="regresar">
                <button class="new-button" mat-raised-button color="primary"
                  aria-label="REGRESAR" (click)="regresar()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
            </div>
          <mat-card id="datosPersonales">
            <div class="tipeDocumento11">
              <div id="usuario" fxLayout="row" fxLayoutAlign="left start">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Usuario</mat-label>
                  <input matInput value="{{usuario}}" [(ngModel)]="usuario" formControlName="usuario" required>
                </mat-form-field>
              </div>
            </div>
            <div class="tipeDocument1">
              <div class="tipeDocumento11">
                <div id="tipoDocumento" fxLayout="row" fxLayoutAlign="left start">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select [(ngModel)]="tipDocumento1" formControlName="tipDocumento1" required>
                      
                      <mat-option *ngFor="let ntd of tipeDocument" [value]="ntd.parameterPk" >
                        {{ntd.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div id="numeroDocumento" fxLayout="row" fxLayoutAlign="left start">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>N° Documento</mat-label>
                    <input matInput [(ngModel)]="numDocumento1" formControlName="numDocumento1" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="tipeDocumento11">
                <div id="apellidoPaterno" fxLayout="row" fxLayoutAlign="left start">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput #box1
                    (keyup.enter)="update1(box1.value)"
                    (blur)="update1(box1.value)" [(ngModel)]="apePaterno1" formControlName="apePaterno1" required>
                  </mat-form-field>
                </div>
                <div id="apellidoMaterno" fxLayout="row" fxLayoutAlign="left start">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput #box2
                    (keyup.enter)="update2(box2.value)"
                    (blur)="update2(box2.value)" [(ngModel)]="apeMaterno1" formControlName="apeMaterno1" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div id="imageCarnet">
              <!--<img mat-card-image id="img" src="assets/images/cards/card2-large.jpg">-->
              <img src="../../assets/images/logos/usuario.png" width="200" height="350">
            </div>
            <div id="nombre">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Nombres</mat-label>
                <input matInput #box3
                (keyup.enter)="update3(box3.value)"
                (blur)="update3(box3.value)" [(ngModel)]="nombres1" formControlName="nombres1" required>
              </mat-form-field>
            </div>
            <div id="fechaNacimiento">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Fecha De Nacimiento</mat-label>
                <input matInput type="date" [ngModel]='fecNacimiento1 | date:"yyyy-MM-dd"' 
                formControlName="fecNacimiento1" required>
              </mat-form-field>
            </div>
            <div id="correoPersonal">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Correo Electrónico/Personal</mat-label>
                <input matInput [(ngModel)]="corElectronico1" formControlName="corElectronico1" required>
              </mat-form-field>
            </div>
            <div id="telefonoPersonal">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>N° Teléfono #1</mat-label>
                <input matInput [(ngModel)]="telefono1" formControlName="telefono1" required>
              </mat-form-field>
            </div>
            <div id="correoEmpresarial">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Correo Electrónico/Empresarial</mat-label>
                <input [(ngModel)]="corElectronico2" formControlName="corElectronico2" matInput>
              </mat-form-field>
            </div>
            <div id="telefonoEmpresarial">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>N° Teléfono #2</mat-label>
                <input [(ngModel)]="telefono2" formControlName="telefono2" matInput>
              </mat-form-field>
            </div>
            <div id="direccion">
              <mat-form-field class="tamañoAdress" appearance="outline" fxFlex>
                <mat-label>Dirección</mat-label>
                <input matInput [(ngModel)]="direccion1" formControlName="direccion1" required>
              </mat-form-field>
            </div>
            <!--<div id="mapa">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                    [zoomControl]="false" (mapClick)="mapClicked($event)">
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
                        <agm-info-window>
                            <strong>InfoWindow content</strong>
                        </agm-info-window>
                    </agm-marker>
                    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                        [circleDraggable]="true" [editable]="true">
                    </agm-circle>
                </agm-map>
            </div>-->
            <div id="estadoCivil">
              <mat-card id="card-estadoCivil">
                <section id="example-section1">
                  <label id="example-margin1">Estado Civil:</label>
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="estCivil1"  formControlName="estCivil1" required>
                    <mat-radio-button class="example-padding1" *ngFor="let est of tipeMaritalStatus" [value]="est.parameterPk">
                      {{est.name}}</mat-radio-button>
                    
                  </mat-radio-group>
                </section>
              </mat-card>
            </div>
            <div id="hijos">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>N° Hijos</mat-label>
                <input type="number" matInput [(ngModel)]="numHijos1" formControlName="numHijos1" required>
              </mat-form-field>
            </div>
            <div id="genero">
              <mat-card id="card-genero">
                <section id="example-section2">
                  <label id="example-margin2">Genero:</label>
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="genero1" formControlName="genero1" required>
                    <mat-radio-button class="example-padding2" *ngFor="let gen of tipeGender" [value]="gen.parameterPk">
                      {{gen.name}}</mat-radio-button>
                    
                  </mat-radio-group>
                </section>
              </mat-card>
            </div>
          </mat-card>
            <div id="contrato">
              <h1>Contrato</h1>
            </div>
          <mat-card id="contratoEmpresa">
            <div id="fechaContrato">
              <div id="fechaContratoStatus">
                <div id="fechaIngreso">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha De Ingreso</mat-label>
                    <input matInput type="date" [ngModel]='fecIngreso1 | date:"yyyy-MM-dd"' formControlName="fecIngreso1" required>
                  </mat-form-field>
                </div>
                <div id="fechaTermino">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha De Termino</mat-label>
                    <input matInput type="date" [ngModel]='fecTermino1 | date:"yyyy-MM-dd"' formControlName="fecTermino1" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="tipeDocument1">
              <div id="puesto">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Puesto</mat-label>
                  <mat-select [(ngModel)]="puesto1" formControlName="puesto1" required>
                    <mat-option value="">-Seleccione-</mat-option>
                    <mat-option *ngFor="let npe of tipeMarket" value="{{npe.parameterPk}}">
                          {{npe.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div id="horario">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Horario</mat-label>
                  <mat-select [(ngModel)]="horario1" formControlName="horario1" required>
                    <mat-option value="">-Seleccione-</mat-option>
                    <mat-option *ngFor="let nhe of lstTimeTable" value="{{nhe.parameterPk}}">
                      {{nhe.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div id="estado">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="estado1" formControlName="estado1" required>
                  <mat-option value="">-Seleccione-</mat-option>
                  <mat-option *ngFor="let nee of lstState" [value]="nee.parameterPk">
                    {{nee.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card>
          <div id="siguiente1">
            <button id="siguienteButton" class="new-button" mat-raised-button
              color="primary" aria-label="SIGUIENTE" (click)="siguienteNuevoEmpleado1()">
              Siguiente
            </button>
          </div>
          <div id="limpiar1">
            <button id="limpiarButton" class="new-button" mat-raised-button
              color="primary" aria-label="LIMPIAR" (click)="limpiarNuevoEmpleado1()">
              Limpiar
            </button>
          </div>
        </form>
      </mat-card>
    </mat-tab>
    <mat-tab label="Adjuntos">
      <mat-card id="card-adjuntos">
        <form [formGroup]="formGroup2">
          <div id="adjuntoP1">
            <div fxLayoutAlign="left start" id="titulo">
              <h1>Adjuntos</h1>
            </div>
            <div id="regresar">
              <button class="new-button" mat-raised-button color="primary"
                aria-label="REGRESAR" (click)="regresar()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </div>
          <div id="adjuntoP2">
            <mat-card id="card1">
              <div id="tipoDocumentoSubmit" fxLayout="row" fxLayoutAlign="left start">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Documento</mat-label>
                  <mat-select [(ngModel)]="documento" formControlName="documento" required>
                    <mat-option value="">-Seleccione-</mat-option>
                    <mat-option *ngFor="let ntd2 of tipeAttach" [value]="ntd2.parameterPk">
                      {{ntd2.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="dropzone" fxLayout="row" fxLayoutAlign="left start">
                <!--<mat-form-field appearance="outline" fxFlex>
                  <input type="text" name="fileToUpload1" id="upload1" [(ngModel)]="fileToUpload1"
                    formControlName="fileToUpload1" placeholder="Upload file" matInput readonly>
                </mat-form-field>
                <label for="file1" id="fileTracking1">
                  <mat-icon>cloud_upload</mat-icon>
                </label>
                <input type="file" id="file1" hidden="true" (change)="handleFileInput($event)"
                  accept=".docx,.pdf,.xlsx,.xls">id="drowseFile" -->
                <input type="file" #fileDropRef id="fileDropRef" multiple formControlName="fileToUpload1"
                (change)="handleFileInput($event.target.files)"  
                 accept=".docx,.pdf,.xlsx,.xls"
                style="opacity: 0; position: absolute; z-index: 2; width: 100%; height: 100%;
                top: 0; left: 0;">
                <label style="padding-top: 8px; padding-right: 20px;">{{fileToUpload}}</label>
                <label [className]="myClass ? 'classTrue': 'classFalse'"
                 for="fileDropRef">Browse for file</label>
              </div>
              <div id="agregarOpcion">
                <button class="new-button" mat-raised-button color="primary"
                  aria-label="AGREGAR" (click)="agregarNuevoEmpleado1()">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
          <div id="adjuntoP3">
            <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
            <table mat-table [dataSource]="datos" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
              </ng-container>

              <ng-container matColumnDef="archivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Archivo </th>
                <td mat-cell *matCellDef="let element"> {{element.archivo}} </td>
              </ng-container>

              <ng-container matColumnDef="descargar">
                <th mat-header-cell *matHeaderCellDef> Descargar </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button style="background-color: blue;" color="primary"
                  aria-label="DESCARGAR">
                    <mat-icon>cloud_download</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element;  let i = index;"> 
                  <button mat-raised-button style="background-color: gray;"
                  aria-label="ELIMINAR" (click)="eliminar(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let element; columns: columnas;"></tr>
            </table>
          </div>
          <div id="siguiente2">
            <button id="siguienteButton" class="new-button" mat-raised-button
              color="primary" aria-label="OPCION" (click)="agregarNuevoEmpleado2()">
              {{botonDescp}}
            </button>
          </div>
          <div id="limpiar2">
            <button id="limpiarButton" class="new-button" mat-raised-button
              color="primary" aria-label="LIMPIAR"
              (click)="limpiarNuevoEmpleado2()">
              Limpiar
            </button>
          </div>
        </form>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>