@import "src/@fuse/scss/fuse";

#horas-buscar {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    #horas-buscar-mat-card {
        width: 100%;
        float: left;
        //border-style: solid;
        //border-color: rgb(0, 162, 206);
        //border-width: unset;
    }

    #horas-buscar-filtros {
        width: 100%;
        float: left;
    }

    #horas-buscar-filtros-mat-card {
        height: 256px;
        width: 100%;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
        margin-top: 7%;
        //padding-top: 0px;
    }

    #horas-titulo {
        width: 90%;
        float: left;
    }

    #horas-registrar {
        width: 10%;
        float: left;
        padding-top: 15px;
        padding-left: 0.4%;
    }

    #horas-filtros {
        width: 100%;
        float: left;
    }

    .horas-todos {
        width: 100%;
        float: left;
    }

    #horas-nombres-apellidos {
        width: 80%;
        float: left;
        padding-right: 1%;
    }

    #horas-estado {
        width: 20%;
        float: left;
    }

    #horas-fecha {
        width: 24.8%;
        float: left;
        padding-right: 1%;
    }

    #horas-acumuladas {
        width: 23%;
        float: left;
    }

    #buscar {
        width: 50%;
        float: left;
        padding-left: 39.8%;
        padding-right: 2.5%;
    }

    #limpiar {
        width: 50%;
        float: left;
        padding-left: 2.5%;
    }

    #confirmar {
        width: 13.5%;
        float: left;
        padding-right: 2%;
        padding-top: 20px;
    }

    #rechazar {
        width: 13.5%;
        float: left;
        padding-right: 2%;
        padding-top: 20px;
    }

    #modificar {
        width: 13.5%;
        float: left;
        padding-top: 20px;
    }

    #horas-registros {
        width: 100%;
        float: left;
    }

    table {
        width: 100%;
    }

    .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: red;
    }
    
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
    }
    
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: red !important;
    }

    .horas-button {
        background: rgb(0, 162, 206);
        color: white;
    }
    .horas-button:hover {
        background: blue;
        color: white;
    }
}
