<mat-card class="mat-elevation-z8 width-card">
  <mat-card-content>
    <div  id="assistance-fields" >
      <h1 id="titulo-fields">Gestión de Campos</h1>
      <mat-form-field appearance="outline">
          <mat-label>Tipo de Campos</mat-label>
          <mat-select (selectionChange)="applyFilter($event.value)">
              <mat-option value="">
                  Seleccionar
              </mat-option>
              <mat-option *ngFor="let plan of plans" [value]="plan.name">
                  {{plan.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="openDialog('agregar', 'quefaltaca?')">
          <mat-icon class="secondary-text">add_box</mat-icon>
      </button>
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="progress">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
              <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="openDialog('editar', row.name)"><mat-icon class="secondary-text">edit</mat-icon></button><button mat-icon-button (click)="openConfirmation()"><mat-icon class="secondary-text">delete</mat-icon></button> </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="color">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>