.width-card {
    margin: 20px;
    width: 100%;
}
#assistance-fields {

    padding-left: 15px;
    padding-right: 15px;

    #titulo-fields{
        width: 80%;
        padding-right: 20%;
    }

    table{
        width: 100%;
    }

}

#assistance-fields mat-select {
    width: 200px;
}
