@import "src/@fuse/scss/fuse";
#searchVacation{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }
    #agregar{
        width: 20%;
        float: left;
        padding-left: 10%;
        padding-top: 15px;
    }
    #buttonColor{
        background-color: rgb(0, 162, 206);
    }
    #adminVacation{
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }
    #inputEmploye{
        width: 65%;
        float: left;
    }
    
    #estado{
        width: 30%;
        float: left;
        padding-left: 5%;
    }
    #fechaInicial{
        width: 35%;
        float: left;
        padding-right: 5%;
    }
    #fechaFinal{
        width: 30%;
        float: left;
        
    }
    #vacationGoz{
        width: 30%;
        float: left;
        padding-left: 5%;
    }
    #buttonSearch{
        width: 30%;
        float: right;
        padding-left: 37%;
    }
   
    #buttonClean{
        padding-left: 15%;
        width: 30%;
        float: right;
    }
    #buttons{
        padding-top: 5%;
    }
    #buttonConfirm{
        padding-right: 5%;
    }
    #buttonRefuse{
        padding-right: 5%;
    }
    #vacation{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 2%;
    }
   /* #fechaInicial{
        width:5%
    }*/
    table{
        width: 100%;
        
    }
   
    .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
     }
}
