.width-card {
    margin: 20px;
    width: 100%;
}
#managePermits{
    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }
    #back{
        float: right;     
        padding-top: 15px;
        padding-left: 12%;
    }
    #selectOptions{
        width: 80%;
        float: left;
        padding-right: 5%;
    }
    #search{
        width: 10%;
        float: left;  
        padding-right: 2%;
    }
    #inputSearch{
        width: 40%;
        float: left;  
        padding-right: 5%;
    }
    #selectMotivo{
        width:35%;
        float: left;
        padding-right: 5%;
    }
    #check{
        width: 35%;
        float: left;
        padding-top: 2%;
    }
    #horaEntrada{
        width: 40%;
        float: left;
        padding-right: 5%;
    }
    #horaSalida{
        width: 25%;
        float: left;
    }
    #tiprPermist{
        width: 30%;
        float: left;
        margin-right: 5%;
    }
    #fechaInicial{
        width: 35%;
        float: left;
        padding-right: 5%;
    }
    #fechaFinal{
        width: 35%;
        float: left;
        padding-right: 5%;
    }
    #frecuencia{
        width: 30%;
        float: left;
       
    }
    #descripcion{
        width: 30%;
        float: left;
        
    }
    #dowmload{
        width: 30%;
        float: left;
        padding-left: 5%;
        padding-top: 5%;
    }
    #check2{
        width: 35%;
        float: left;
        padding-right: 5%;
        padding-top: 5%;
    }
    #buttonRegist{
        width: 30%;
        float: right;
        padding-left: 30%;
        padding-top: 5%;
    }
    #buttonClean{
        padding-left: 15%;
        width: 30%;
        float: right;
        padding-top: 5%;
    }
    table{
        width: 100%;
    }
    #buttonColor{
        background-color: rgb(0, 162, 206);
    }
    #text-area-width {
        width: 100%;
    }
}
.mat-header-cell, .mat-sort-header {
    background-color: rgb(0, 162, 206);
    font-size: 16px;
    color: white !important;
} 

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0, 162, 206) !important;
 }

 #datosPersonales {
    border-style: solid;
    border-color: rgb(0, 162, 206);
    border-width: unset;
}

#buscar {
    width: 50%;
    float: left;
    padding-left: 39.8%;
    padding-right: 2.5%;
}

.search-button {
    background: rgb(0, 162, 206) !important;
    color:white;
}