<mat-card class="mat-elevation-z0 width-card">
<div id="managePermits" class="page-layout blank" >
        
            <div fxLayout="row">
                <div fxLayoutAlign="left start" id="titulo">
                    <h1>Registrar Permisos</h1>
                </div>
                <div id="back">
                    <button id="buttonColor" [routerLink]="'/apps/permits/searchPermits'"  mat-button  mat-raised-button color="primary" aria-label="Nuevo">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </div>
            <mat-card id="datosPersonales">
            <form [formGroup]="formGroup2">
                <div  fxLayout="row">
                    <div  fxLayoutAlign="left start" id="selectOptions">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Colaborador</mat-label>
                            <input type="text" name="empleado" formControlName="empleado" placeholder="Seleccione" aria-label="Number" matInput [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.employeeTo.employeeCompleteName" (click)="onSelectionChange(option.employeeTo.employeePk)">
                                {{option.employeeTo.employeeCompleteName}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                
                    <div  fxLayoutAlign="left start" id="check">
                        <mat-checkbox name="checked" formControlName="checked">Afecta Horas Acumuladas</mat-checkbox>
                    </div>
                    
                </div>
                <div  fxLayout="row">
                    <div  fxLayoutAlign="left start" id="selectMotivo" >
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Motivo</mat-label>
                            <mat-select name="document" required formControlName="motivo">
                                <mat-option value="">-Seleccione-</mat-option>
                                <mat-option *ngFor="let option of motivos" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div  fxLayoutAlign="left start" id="tiprPermist">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Tipo Permiso</mat-label>
                            <mat-select name="tipoPermisoSelect"  required formControlName="tipoPermisoSelect"
                            name="tipoPermisoSelect">
                                <mat-option value="">-Seleccione-</mat-option>
                                <mat-option *ngFor="let option of tipoPermisos" [value]="option" (click)="tipoPermiso(option)">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div  id="frecuencia">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Frecuencia</mat-label>
                            <mat-select name="tipoFrecuenciaSelected"  required [disabled]="tipoPermisoFlag" formControlName="tipoFrecuenciaSelected"
                            name="tipoFrecuenciaSelected">
                                <mat-option value="">-Seleccione-</mat-option>
                                <mat-option *ngFor="let option of frecuencia" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div  fxLayout="row">
                    <div  id="fechaInicial">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Permiso Inicial</mat-label>
                            <input matInput [matDatepicker]="assistanceDatePicker" formControlName="diaAsistencia"
                                name="diaDeAsistencia" placeholder="{{today}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div  id="fechaFinal">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Permiso Final</mat-label>
                            <input matInput [matDatepicker]="assistanceDatePickerFinal" formControlName="diaAsistenciaFinal"
                                name="diaAsistenciaFinal" placeholder="{{today}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePickerFinal"></mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePickerFinal></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" style="width: 150px; margin-right: 20px">
                            <mat-label>Hora Inicial</mat-label>
                            <input matInput type="time" fxFlex 
                                name="horaInicial" matInput formControlName="horaInicial">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" style="width: 150px;">
                            <mat-label>Hora Final</mat-label>
                            <input matInput type="time" fxFlex 
                                name="horaFinal" matInput formControlName="horaFinal">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">
                    <div id="text-area-width">
                        <mat-form-field appearance="outline" id="text-area-width">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="6" name="comentario" formControlName="comentario" type="text"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card>
        <br>
        
            <div fxLayout="row">
                <div>
                    <button id="buttonColor"  mat-button  mat-raised-button color="primary" aria-label="regist" (click)="getDates()">
                        Agregar Permiso
                    </button>
                </div>
            </div>
            
            <div id="permisos">
                <div>
                <mat-paginator style="float: left;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <table class="mat-elevation-z8" mat-table [dataSource]="datos" class="mat-elevation-z8">
        
                    <ng-container matColumnDef="check">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox [disabled]="false"
                                          (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index;">
                            <mat-checkbox (click)="$event.stopPropagation();"
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)"
                                          [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                          </td>
                    </ng-container>
        
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="horaInicio">
                        <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
                        <td mat-cell *matCellDef="let element, let i = index">
                            <mat-form-field appearance="outline" style="width: 150px;padding-right: 10px;">
                                <input matInput type="time" fxFlex value="{{element.horaInicio}}"
                                    name="element.horaInicio" matInput [(ngModel)]="horaInicioPermitDay[i]">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="horaFinal">
                        <th mat-header-cell *matHeaderCellDef> Hora Final </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field appearance="outline" style="width: 150px;">
                                <input matInput type="time" fxFlex value="{{element.horaFin}}"
                                    name="element.horaFin" matInput [(ngModel)]="horaFinalPermitDay[i]">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!--<mat-checkbox>Check me!</mat-checkbox>-->
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
        </div>
            <div fxLayout="row" >
                <div id="dowmload" fxLayoutAlign="left start">
                <label style="padding-top: 8px; padding-right: 20px;">{{fileToUpload}}</label>
                    <button mat-icon-button color="primary">
                        <button mat-fab>
                            <mat-icon>save</mat-icon>
                            <input type="file" multiple [(ngModel)]="fileToUpload"
                (change)="handleFileInput($event.target.files)"  
                 accept=".docx,.pdf,.xlsx,.xls"
                style="opacity: 0; position: absolute; z-index: 2;
                top: 0; left: 0; height: 100%; width: 100%;">
                        </button>
                    </button>

                </div>
            </div>
            <div id="buscar">
                <button class="search-button" mat-raised-button color="primary" aria-label="BUSCAR" (click)="registrar()">
                    Registrar
                </button>
            </div>
            <div id="limpiar">
                <button class="search-button" mat-raised-button color="primary" aria-label="LIMPIAR">
                    Limpiar
                </button>
            </div>
</div>
</mat-card>