<div id="calendarAssistance" class="page-layout blank">
    
        <div fxLayout="row">
            <div fxLayoutAlign="left start" id="titulo">
                <h1>Reporte de Asistencias</h1>
            </div>
        </div>
       
        <div class="header-bottom" fxLayout="row" fxLayoutAlign="center center"
                 [@animate]="{value:'*',params:{delay:'150ms'}}">

                <button mat-icon-button class="arrow"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="selectedDay = {date:$event}"
                        aria-label="Previous">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <div class="title">
                    {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                </div>

                <button mat-icon-button class="arrow"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="selectedDay = {date:$event}"
                        aria-label="Next">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        <form >
            <div fxLayout="row">
                <div   fxLayoutAlign="left start" id="inputEmploye">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Colaborador</mat-label>
                        <input type="text" name="empleado"
                         placeholder="Seleccione" aria-label="Number" matInput 
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </form>
       <div class="content" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
            <div [ngSwitch]="view">
                <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                   
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    
                   >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    (viewDateChange)="selectedDay = {date:$event}"
                    
                    [refresh]="refresh"
                    (dayClicked)="dayClicked($event.day)"
                    >
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    (viewDateChange)="selectedDay = {date:$event}"
                    
                    
                    [refresh]="refresh"
                    (dayClicked)="dayClicked($event.day)"
                >
                </mwl-calendar-day-view>
            </div>
        </div>
        <div>
            <label>Total de Horas: </label>
            <mat-form-field id="horasTotal" appearance="outline">
                <mat-label>Horas</mat-label>
                <input matInput type="text" fxFlex 
                    name="horas" matInput formControlName="horas">
            </mat-form-field>
        </div>
    
</div>