@import "src/@fuse/scss/fuse";
#search-request {

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

    #card{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 25px;
        padding-top: 10px;
        width: 100%;
        float: left;
    }

    #titulo{
        width: 100%;
        float: left;
        padding-right: 20%;
    }

    #masivo{
        width: 10%;
        float: right;
        margin-top: 0.90em;
    }

    #nuevo{
        float: right;
        margin-top: 0.90em;
        margin-right: 20px;
    }

    #filtros{
        width: 100%;
        float: left;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
        padding: 20px;
    }

    #codigo{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #cliente{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #estado{
        width: 33%;
        float: left;
    }

    #indicadorContable{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #sistema{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #buscar{
        width: 10%;
        float: left;
        padding-left: 38%;
        padding-right: 10%;
    }

    #limpiar{
        width: 10%;
        float: left;
    }

    #abrir{
        width: 10%;
        float: left;
        padding-right: 5px;
        padding-top: 20px;
    }

    #cerrar{
        width: 10%;
        float: left;
        padding-right: 5px;
        padding-top: 20px;
    }

    #modificar{
        width: 10%;
        float: left;
        padding-top: 20px;
    }

    table{
        width: 100%;
    }
    #registros{
        width: 100%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
.button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0, 162, 206) !important;
 }

 .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white !important;
    }