<div id="search-request" class="page-layout blank">
    <mat-card id="card">
        <form [formGroup]="formGroup">
            <div fxLayout="row">
                <div fxLayoutAlign="left start" id="titulo">
                    <h1>Búsqueda de Requerimiento</h1>
                </div>
    
                <div id="nuevo">
                    <button mat-button class="button-color" mat-raised-button aria-label="NUEVO" (click)="nuevo()">
                        Nuevo
                    </button>
                </div>
    
                <div id="masivo">
                    <button mat-button class="button-color" type="submit" mat-raised-button aria-label="MASIVO"
                        (click)="regisMasivo()">
                        Masivo
                    </button>
                </div>
            </div>
            

            <div id="filtros">

                <div fxLayout="row" fxLayoutAlign="left start" id="codigo">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Código</mat-label>
                        <input [(ngModel)]="codigo" formControlName="codigo" matInput>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="left start" id="cliente">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Cliente</mat-label>
                        <mat-select [(ngModel)]="cliente" formControlName="cliente">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let cli of clientes" [value]="cli.cliente">
                                {{cli.cliente}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="left start" id="estado">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="estado" formControlName="estado">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let est of estados" [value]="est.estado">
                                {{est.estado}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="left start" id="indicadorContable">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Indicador Contable</mat-label>
                        <mat-select [(ngModel)]="indicador" formControlName="indicador">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let ind of indicadores" [value]="ind.indicador">
                                {{ind.indicador}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="left start" id="sistema">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Sistema</mat-label>
                        <mat-select [(ngModel)]="sistema" formControlName="sistema">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let sist of sistemas" [value]="sist.sistema">
                                {{sist.sistema}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div id="buscar">
                    <button mat-button class="button-color" mat-raised-button aria-label="BUSCAR"
                        (click)="aplicarFiltros()">
                        Buscar
                    </button>
                </div>

                <div id="limpiar">
                    <button mat-button class="button-color" mat-raised-button aria-label="LIMPIAR"
                        (click)="limpiarInputs()">
                        Limpiar
                    </button>
                </div>

            </div>

            <div id="abrir">
                <button mat-button class="button-color" mat-raised-button aria-label="ABRIR" (click)="opcion(1)">
                    Abrir
                </button>
            </div>

            <div id="cerrar">
                <button mat-button class="button-color" mat-raised-button aria-label="CERRAR" (click)="opcion(2)">
                    Cerrar
                </button>
            </div>

            <div id="modificar">
                <button mat-button [disabled]="modHidden" class="delete-button" mat-raised-button color="accent"
                    aria-label="MODIFICAR" (click)="opcion(3)">
                    Modificar
                </button>
            </div>

            <div id="registros">
                    <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                    </mat-paginator>
                    <table class="mat-elevation-z8" mat-table [dataSource]="datos" matSort>

                        <ng-container matColumnDef="requerimiento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Requerimiento </th>
                            <td #requerimiento mat-cell *matCellDef="let element">
                                {{element.requerimiento}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cliente}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sistema">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sistema </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.sistema}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="indicador">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Indicador Contable </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.indicador}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.estado}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="avance">
                            <th mat-header-cell *matHeaderCellDef> Avance </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-progress-bar style="width: 60%;" mode="determinate" value="{{element.total}}">
                                </mat-progress-bar>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="horas">
                            <th mat-header-cell *matHeaderCellDef> Horas </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button style="color: blue;text-decoration-line: underline;"
                                    (click)="openDialog('editar',element)" (click)="$event.stopPropagation()">
                                    {{element.total}}
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox [disabled]="false" (change)="$event ? masterToggle() : null"
                                    (change)="checkValue1($event)" [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row; let i = index;">
                                <mat-checkbox (click)="$event.stopPropagation();" (change)="checkValue($event, row, i)"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnas;" (click)="selectRow(element)"></tr>
                    </table>
            </div>

        </form>
    </mat-card>
</div>