@import "src/@fuse/scss/fuse";
#reporte {

    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    #titulo{
        width: 100%;
        float: left;
    }

    #filtros{
        width: 100%;
        float: left;
    }

    #periodo{
        width: 50%;
        float: left;
        padding-left: 12%;
        padding-right: 12%;
    }

    #empresa{
        width: 50%;
        float: left;
        padding-left: 12%;
        padding-right: 12%;
    }

    #indicadorContable{
        width: 50%;
        float: left;
        padding-left: 12%;
        padding-right: 12%;
    }

    #sistema{
        width: 50%;
        float: left;
        padding-left: 12%;
        padding-right: 12%;
    }
    
    .card{
        width: 100%;
        float: left;
    }

    .card-requerimiento{
        width: 48%;
        height: 410px;
        float: left;
        margin: 1%;
    }

    #graficoCircular{
        margin-top: 65px;
    }

    #otrosFiltros{
        width: 48%;
        float: left;
        margin: 1%; 
    }

    #periodo1{
        width: 100%;
        float: left;
        padding-left: 12%;
        padding-right: 25%;
    }

    #radio{
        width: 100%;
        float: left;
        padding-left: 12%;
        padding-right: 12%;
    }
    #radioButton{
        padding-right: 35px;
    }
    #exportar{
        width: 100%;
        float: left;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 5%;
    }

    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
    }

    .card-ranking{
        width: 48%;
        float: left;
        margin: 1%;
    }
}

.button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }