<div id="reporte">
    <form [formGroup]="formGroup">
        <div fxLayout="row" fxLayoutAlign="center start" id="titulo">
            <h1>INFORME DE REQUERIMIENTOS</h1>
        </div>
        <div id="filtros">
            <div fxLayout="row" fxLayoutAlign="left start" id="periodo">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Periodo</mat-label>
                    <mat-select name="periodo" formControlName="periodo" [(ngModel)]="periodo">
                        <mat-option value="">-Seleccione-</mat-option>
                        <mat-option *ngFor="let per of periodos" value="{{per.periodo}}">
                            {{per.periodo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="left start" id="empresa">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Empresa</mat-label>
                    <mat-select name="empresa" formControlName="empresa" [(ngModel)]="empresa">
                        <mat-option value="">-Seleccione-</mat-option>
                        <mat-option *ngFor="let emp of empresas" value="{{emp.empresa}}">
                            {{emp.empresa}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="left start" id="indicadorContable">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Indicador Contable</mat-label>
                    <mat-select name="indicador" formControlName="indicador" [(ngModel)]="indicador">
                        <mat-option value="">-Seleccione-</mat-option>
                        <mat-option *ngFor="let ind of indicadores" value="{{ind.indicador}}">
                            {{ind.indicador}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="left start" id="sistema">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Sistema</mat-label>
                    <mat-select name="sistema" formControlName="sistema" [(ngModel)]="sistema">
                        <mat-option value="">-Seleccione-</mat-option>
                        <mat-option *ngFor="let sist of sistemas" value="{{sist.sistema}}">
                            {{sist.sistema}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="card">
        <mat-card class="card-requerimiento">
            <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="h2">Visitors & Page views</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                        (click)="getYesyerday()"
                        [ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">
                        Yesterday
                    </div>
                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                        (click)="getToday()" 
                        [ngClass]="{'accent': widget5SelectedDay === 'today'}">
                        Today
                    </div>
                </div>
            </div>

            <div class="position-relative h-300">
                <canvas baseChart 
                    [datasets]="lineChartDataChange"
                    [labels]="lineChartlabels" 
                    [colors]="lineChartcolors"
                    [options]="lineChartoptions" 
                    [chartType]="lineChartchartType">
                </canvas>
            </div>

            <!--<div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>-->
        </mat-card>
        <mat-card class="card-requerimiento">
            <div class="chart-wrapper">
                <canvas baseChart id="graficoCircular"
                    [data]="doughnutChartData" 
                    [labels]="doughnutChartLabels"
                    [colors]="doughnutChartColors" 
                    [chartType]="doughnutChartType">
                </canvas>
            </div>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start" id="titulo">
        <h1>RANKING</h1>
    </div>
    <div class="card">
        <div id="otrosFiltros">
            <div fxLayout="row" fxLayoutAlign="left start" id="periodo1">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Periodo</mat-label>
                    <mat-select name="periodo1" [(ngModel)]="periodo1">
                        <mat-option value="">-Seleccione-</mat-option>
                        <mat-option *ngFor="let per of periodos1" value="{{per.periodo}}">
                            {{per.periodo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="left start" id="radio">
                <mat-radio-group name="radio" *ngFor="let rar of radios">
                    <mat-radio-button id="radioButton" value="{{rar.radio}}">
                        {{rar.radio}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div id="exportar">
                <button mat-button class="button-color" mat-raised-button aria-label="EXPORTAR"
                    (click)="exportar()">
                    Exportar
                </button>
            </div>
        </div>
        <mat-card class="card-ranking">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card>
    </div>
</div>