.width-card {
    margin: 20px;
    width: 100%;
}

#assistance-search {

    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }

    #agregar{
        float: right;
        padding-top: 15px;
    }

    #diaAsistencia{
        width: 45%;
        float: left;
        padding-right: 13%;
    }

    #empleado{
        width: 34%;
        float: left;
    }

    #buscar{
        width: 20%;
        float: left;
        padding-left: 38%;
        padding-right: 20%;
    }

    #limpiar{
        width: 20%;
        float: left;
    }

    table{
        width: 100%;
    }
    #registros{
        width: 100%;
        float: left;
        padding-top: 15px;
        margin-top: 15px; 
        margin-bottom: 15px;
    }

}

.opcionesTabla{
    padding-top: 5%;
    clear: left;
}

.button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
        cursor: pointer!important; 
        outline: none!important; 
        transition: 0.2s all!important; 
  }

  #adjuntoP2{
    width: 100%;
    float: left;
}
#card1 {
    width: 100%;
    float: left;
    border-style: solid;
    border-color: rgb(0, 162, 206);
    border-width: unset;
}

.mat-header-cell, .mat-sort-header {
    background-color: rgb(0, 162, 206);
    font-size: 16px;
    color: white !important;
} 
      
    .button-color:active { 
        transform: scale(0.98) !important; 
        /* Scaling button to 0.98 to its original size */ 
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.68) !important; 
        /* Lowering the shadow */ 
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
     }