<mat-card class="mat-elevation-z0 width-card">
    <div id="assistance-search" class="page-layout blank">

        <form [formGroup]="formGroup">
            <div id="adjuntoP2">
                <div fxLayout="row" fxLayoutAlign="left start" id="titulo">
                    <h1>Búsqueda de Asitencia</h1>
                </div>
                <mat-card id="card1">
                    <div fxLayout="row" fxLayoutAlign="left start" id="empleado" style="width: 100%;">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Colaborador</mat-label>
                            <input type="text" name="empleado" formControlName="empleado" placeholder="Pick one"
                                aria-label="Number" matInput [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="left start" id="diaAsistencia">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Asistencia Inicial</mat-label>
                            <input matInput [matDatepicker]="assistanceDatePicker" formControlName="diaAsistencia"
                                name="diaDeAsistencia" placeholder="{{today}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="left start" id="diaAsistencia">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Asistencia Final</mat-label>
                            <input matInput [matDatepicker]="assistanceDatePickerFinal"
                                formControlName="diaAsistenciaFinal" name="diaAsistenciaFinal" placeholder="{{today}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePickerFinal"></mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePickerFinal></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div id="buscar">
                        <button mat-button class="button-color" mat-raised-button color="primary" aria-label="BUSCAR"
                            (click)="applyFilter('filtroDate', 'input')">
                            Buscar
                        </button>
                    </div>

                    <div id="limpiar">
                        <button mat-button class="button-color" mat-raised-button color="primary" aria-label="LIMPIAR">
                            Limpiar
                        </button>
                    </div>
                </mat-card>
            </div>
        </form>

        <div class='opcionesTabla'>
            <div>
                <button id="modificar" mat-button class="button-color" mat-raised-button color="primary"
                    aria-label="CONFIRMAR" style="float: left;" (click)="modificar()" *ngIf="flagModificar == true">
                    Modificar
                </button>
            </div>

            <div>
                <button id="reporte" mat-button class="button-color" mat-raised-button color="primary"
                    aria-label="RECHAZAR" style="float: left;margin-left: 10px;margin-right: 10px;"
                    *ngIf="flagModificar == true">
                    Cancelar
                </button>
            </div>

            <div>
                <button id="reabrir" mat-button class="button-color" mat-raised-button color="primary"
                    aria-label="REABRIR" (click)="reabrir()" *ngIf="flagReabrir == true">
                    Abrir
                </button>
            </div>
        </div>


        <div id="registros">
            <mat-paginator style="float: left;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <table mat-table class="mat-elevation-z8" [dataSource]="datos">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 10px;"> No. </th>
                    <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="dia">
                    <th mat-header-cell *matHeaderCellDef> Día </th>
                    <td mat-cell *matCellDef="let element" style="width: 180px;padding-right: 10px;">
                        <!--Con dialog para editar-->
                        <mat-form-field appearance="outline" style="width: 180px;padding-right: 10px;">
                            <input matInput fxFlex [matDatepicker]="assistanceDatePicker" placeholder="{{element.dia}}"
                                name="element.dia" [(ngModel)]="element.dia" matInput disabled="{{element.disabled}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker"
                                disabled="{{element.disabled}}">
                            </mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePicker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="empleado">
                    <th mat-header-cell *matHeaderCellDef>Colaborador</th>
                    <td mat-cell *matCellDef="let element" style="min-width: 300px;padding-right: 10px;">
                        <!--Con dialog para editar-->
                        <mat-form-field appearance="outline" style="min-width: 300px;padding-right: 10px;">
                            <input matInput fxFlex placeholder="{{element.empleado}}" name="element.empleado"
                                [(ngModel)]="element.empleado" matInput disabled="{{element.disabled}}">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="hora_ingreso">
                    <th mat-header-cell *matHeaderCellDef>Hora Ingreso</th>
                    <td mat-cell *matCellDef="let element" style="width: 150px;padding-right: 10px;">
                        <!--Con dialog para editar-->
                        <mat-form-field appearance="outline" style="width: 150px;padding-right: 10px;">
                            <input matInput type="time" fxFlex placeholder="{{element.hora_ingreso}}"
                                name="element.hora_ingreso" [(ngModel)]="element.hora_ingreso" matInput
                                disabled="{{element.disabled}}">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="hora_salida">
                    <th mat-header-cell *matHeaderCellDef>Hora Salida</th>
                    <td mat-cell *matCellDef="let element" style="width: 150px;padding-right: 10px;">
                        <!--Con dialog para editar-->
                        <mat-form-field appearance="outline" style="width: 150px;padding-right: 10px;">
                            <input matInput type="time" fxFlex placeholder="{{element.hora_salida}}"
                                name="element.hora_salida" [(ngModel)]="element.hora_salida" matInput
                                disabled="{{element.disabled}}">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="horas_trabajadas">
                    <th mat-header-cell *matHeaderCellDef>Hora Trabajadas</th>
                    <td mat-cell *matCellDef="let element" style="width: 120px;padding-right: 10px;">
                        <!--Con dialog para editar-->
                        <mat-form-field appearance="outline" style="width: 120px;padding-right: 10px;">
                            <input matInput fxFlex placeholder="{{element.horas_trabajadas}}"
                                name="element.horas_trabajadas" [(ngModel)]="element.horas_trabajadas" matInput
                                disabled="{{element.disabled}}">
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
</mat-card>