.cabezera {
    background-image: url(../../../../../../assets/images/backgrounds/tableroPrueba.jpg);
    color: white;
    padding: 15px;
    font-size: 40px;
    display: grid;
    grid-template-areas: "saludos imagenCabezera";
}

.saludos {
    grid-area: saludos;
    text-align: left;
}

.imagenCabezera {
    grid-area: imagenCabezera;
    text-align: right;
}

.cuerpo {
    color: white;
    font-size: 30px;
    background-color: white;
    display: grid;
    height: 100%;
    grid-template-areas: "horaEntrada informacionDia horaSalida";
}

.horaEntrada {
    grid-area: horaEntrada;
    text-align: center;
    align-items: center;
    color: black;
}
.informacionDia {
    grid-area: informacionDia;
    text-align: center;
    color: black;
}

.horaSalida {
    grid-area: horaSalida;
    text-align: center;
    align-items: center;
    color: black;
}

.example-ripple-container {
    cursor: pointer;
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
    
    margin-top: 20px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

#ultimoRegistro {
    font-size: 18px;
}
/*.cabezera {
    
}
.saludos {
    display:inline; white-space:nowrap;
    float: left;
}
.imagenCabezera {
    float: right;
    width: 200px;
    height: 200px;
}
.width-card {
    margin: 20px;
    width: 100%;
    height: 100%;
    // border: 3px solid black;
}
.dimensiones {
    height: inherit;
    width: inherit;
    // border: 3px solid black;
    text-align: center;
}
.vertical-center {
}

.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 300px;
    height: 300px;
    line-height: 300px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
#container{width:100%;}
#left{float:left;}
#right{float:right;}
#center{margin:0 20px;}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
    // border: 1px solid rgb(0, 162, 206) !important;
  }

  .titulo{
    border: 1px solid rgb(0, 162, 206) !important;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }

  .grid-item {
    position: relative;
    border: 1px solid rgb(0, 162, 206) !important;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
.reloj-grid{
    border: 1px solid rgb(0, 162, 206) !important;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(0, 162, 206) !important;
    color: white !important;

    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

.fecha {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
}

.fecha p {
	display: inline-block;
    line-height: 1em;
    margin-left: 3px;
}

.reloj {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
}

.reloj p {
	display: inline-block;
    line-height: 1em;
    margin-left: 3px;
}


#assistance-search-register {

    // padding-left: 15px;
    // padding-right: 15px;

    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }

    #agregar{
        float: right;
        padding-top: 15px;
    }

    #diaAsistencia{
        width: 45%;
        float: left;
        padding-right: 13%;
    }

    #empleado{
        width: 34%;
        float: left;
    }

    #buscar{
        width: 20%;
        float: left;
        padding-left: 38%;
        padding-right: 20%;
    }

    #limpiar{
        width: 20%;
        float: left;
    }

    table{
        width: 100%;
    }
    #registros{
        width: 100%;
        float: left;
        padding-top: 15px;
        margin-top: 15px; 
        margin-bottom: 15px;
    }

}

.opcionesTabla{
    padding-top: 5%;
    clear: left;
}

.button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }

.reloj p{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.fecha p{
    margin-top: 0px;
}

.mat-card {
    padding: 0px !important;
}*/