
    <div id="assistance-search-register" class="page-layout blank">
        <div class="cabezera">
            <div class="saludos">
                <span class="saludos">Bienvenida</span><br>
                <span class="saludos">Silvia Jurado v02 Despues de realizar commit!</span><br>
                <span id="ultimoRegistro" [(ngModel)]="ultimoRegistro">Ultimo Registro: {{ultimoRegistro}}</span>
            </div>
            <div class="imagenCabezera">
                <img width="230px" height="auto" src="../../../../../../assets/images/logos/logoBlancoPocho.png">
            </div>
        </div>

        <div class="cuerpo">
            <div class="horaEntrada">
                <div ngModel="disabledEntrada" class="example-ripple-container mat-elevation-z4"
                                matRipple
                                [matRippleCentered]="centered"
                                [matRippleDisabled]="disabledEntrada"
                                [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius"
                                [matRippleColor]="color" (click)="marcarEntrada()">
                                    <p style="margin-top: 34%;">Marcar Entrada</p>
                                    <p style="margin-top: 34%;font-size: 20px;">Hora Entrada: {{horaEntrada}}</p>
                            </div>
            </div>
            <div class="informacionDia">
                <p style="margin-top: 30%;" ngModel="pDiaSemana" ngModel="pDia" ngModel="pMes">{{pDiaSemana}}, {{pDia}} de {{pMes}}</p>
                <p ngModel="pHoras">{{pHoras}}:{{pMinutos}}:{{pSegundos}}:{{pAMPM}}</p>
            </div>
            <div class="horaSalida">
                <div ngModel="disabledSalida" class="example-ripple-container mat-elevation-z4"
                                matRipple
                                [matRippleCentered]="centered"
                                [matRippleDisabled]="disabledSalida"
                                [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius"
                                [matRippleColor]="color" (click)="marcarSalida()">
                                <p style="margin-top: 34%;">Marcar Salida</p>
                                <p style="margin-top: 34%; font-size: 20px;">Hora Salida: {{horaSalida}}</p>
                            </div>
            </div>
        </div>
    </div>