@import "src/@fuse/scss/fuse";

#registry-request {

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    
    #card{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
        width: 100%;
        float: left;
    }

    #registry{
        width: 80%;
        float: left;
    }

    #regresar{
        width: 20%;
        float: left;
        padding-left: 9.4%;
        padding-top: 1.6%;
    }

    #codigo{
        width: 34%;
        float: left;
        padding-right: 10px;
    }
    
    #cliente{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #estado{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #descripcion{
        width: 100%;
        float: left;
        padding-right: 10px;
    }

    #fechaCreacion{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #indicadorContable{
        width: 33%;
        float: left;
        padding-right: 10px;
    }   

    #centroCosto{
        width: 33%;
        float: left;
        padding-right: 10px;
    } 

    #sistema{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #componente{
        width: 66%;
        float: left;
        padding-right: 10px;
    }

    #detalle{
        width: 100%;
        float: left;
        padding-right: 10px;
    }

    textarea {
        resize: none;
        height: 120px;
    }

    #horasDesarrollo{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #horasQa{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #horasDevops{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #guardar{
        width: 20%;
        float: left;
        padding-left: 36.5%;
        padding-right: 20%;
        padding-bottom: 2%;
    }

    #limpiar{
        width: 20%;
        float: left;
        padding-bottom: 2%;
    }

    #titulo{
        width: 80%;
        float: left;
    }

    #graficoHoras{
        width: 50%;
        float: left;
        margin-left: 10%;
    }

    #graficoDatos{
        width: 40%;
        float: left;
    }

    #consumidas{
        width: 40%;
        padding-top: 20%;
    }

    #restantes{
        width: 40%;
    }

    #titulo1{
        width: 90%;
        float: left;
    }

    #add{
        width: 10%;
        float: left;
        padding-left: 20px;
        padding-top: 13px;
    }

    table{
        width: 100%;
    }

    #horas{
        width: 100%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #diaH1{
        width: 20%;
        float: left;
        padding: 10px 10px 0px 10px;
    }

    #detalleH1{
        width: 30%;
        float: left;
        padding: 10px 10px 0px 10px;
    }

    #horaH1{
        width: 20%;
        float: left;
        padding: 10px 10px 0px 10px;
    }

    #tipoH1{
        width: 20%;
        float: left;
        padding: 10px 10px 0px 10px;
    }

    #actH1{
        width: 10%;
        float: left;
        padding: 10px 10px 0px 10px;
    }

    #diaH{
        width: 20%;
        float: left;
    }

    #detalleH{
        width: 30%;
        float: left;
    }

    #horaH{
        width: 20%;
        float: left;
    }

    #tipoH{
        width: 20%;
        float: left;
    }

    #actH{
        width: 10%;
        float: left;
        padding-bottom: 39px;
        padding-top: 10px;
    }

    #guardar1{
        width: 20%;
        float: left;
        padding-left: 36.5%;
        padding-right: 20%;
        padding-bottom: 2%;
    }

    #limpiar1{
        width: 20%;
        float: left;
        padding-bottom: 2%;
    }

}

.button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }