<div>
    <div class="agregar" *ngIf="operation.name == 'agregar'">
        <div id="titulo" mat-dialog-title>
            <h1>Personalizar</h1>
            <button mat-icon-button class="close" (click)="onNoClick()"><mat-icon class="secondary-text">close</mat-icon></button>
        </div>
        <mat-form-field class="add-input" appearance="outline">
            <mat-label>Se repite el:</mat-label>
            <mat-select [formControl]="toppingsControl" multiple>
          
              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip *ngFor="let topping of toppingsControl.value"
                    [removable]="true" (removed)="onToppingRemoved(topping)">
                    {{ topping }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>
          
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          
            </mat-select>
        </mat-form-field>
        <div class="add-input">
            <div class="agregar">
                <h1 id="titulo">Termina:</h1>
            </div>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" [value]="1">
                Dentro 6 meses.
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="2">
                El:
                <mat-form-field appearance="outline" style="width: 243px; margin-left: 250px;">
                    <mat-label>Termina el:</mat-label>
                    <input matInput [matDatepicker]="assistanceDatePickerFinal1" [(ngModel)]="fechaTermino">
                    <mat-datepicker-toggle matSuffix [for]="assistanceDatePickerFinal1"></mat-datepicker-toggle>
                    <mat-datepicker #assistanceDatePickerFinal1></mat-datepicker>
                </mat-form-field>
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="3">
                Después de:
                <mat-form-field appearance="outline" style="width: 243px; margin-left: 176px;padding-bottom: 0px;">
                    <mat-label>Iteraciones</mat-label>
                    <input type="number" min="0" matInput [(ngModel)]="numeroIteraciones">
                </mat-form-field>
            </mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <button mat-raised-button color="accent" aria-label="LOG IN" (click)="onSaveForm()">
                Guardar
            </button>
        </div>  
    </div>
</div>