<div class="container">
    <h1>¿Esta seguro de realizar esta operación?</h1>
    <button mat-raised-button color="accent" aria-label="LOG IN" class="positionB">Si</button>
    <button mat-raised-button color="accent" aria-label="LOG IN" class="positionB" (click)="onNoClick()">No</button>
</div>
