<mat-card class="mat-elevation-z8 width-card">
    <mat-card-content [formGroup]="formGroup">
        <div  id="assistance-search-manage" >
            <div fxLayout="row" fxLayoutAlign="left start" id="titulo">
                <h1>Registrar Asitencias</h1>
            </div>

            <div id="agregar">
                <button mat-button class="button-color" mat-raised-button  aria-label="AGREGAR">
                    Regresar
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left start" id="empleado" style="width: 100%;">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Empleado</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-select name="empleado" formControlName="empleado" required>
                        <mat-option value="0">-Seleccione-</mat-option>
                        <mat-option value="Clinsman Campos">Clinsman Campos</mat-option>
                        <mat-option value="Juan Balboa">Juan Balboa</mat-option>
                        <mat-option value="Cris Martinez">Cris Martinez</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <h1>Horas Acumuladas</h1>

            <div class="third-row-assistance">
                    <mat-form-field appearance="outline" id="campos">
                        <mat-label>Horas a favor</mat-label>
                        <input type="number" min="1" max="100" name="horaAFavor" value="56" formControlName="horaFavor" matInput>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" id="campos">
                        <mat-label>Horas en contra</mat-label>
                        <input type="number" min="1" max="100" name="horaEnContra" value="0" formControlName="horaContra" matInput>
                    </mat-form-field>
            </div>

            <div class="first-row-assistance">
                <mat-form-field appearance="outline" id="campos">
                    <mat-label>Tipo de Registro</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <!--<input name="name" formControlName="empleado" matInput required>-->
                    <mat-select name="empleado" formControlName="empleado" required (selectionChange)="tipoRegistro($event.value)">
                        <mat-option value="0">-Seleccione-</mat-option>
                        <mat-option value="1">Individual</mat-option>
                        <mat-option value="2">Multiple</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" id="campos">
                    <mat-label>Día Asistencia</mat-label>
                    <input matInput [matDatepicker]="assistanceDatePicker" formControlName="diaAsistencia"
                        name="diaDeAsistencia">
                    <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #assistanceDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="second-row-assistance">
                    <mat-form-field appearance="outline" id="campos">
                        <mat-label>Hora de Entrada</mat-label>
                        <input type="number" min="1" max="24" name="horaDeEntrada" formControlName="horaEntrada" matInput>
                        <span matSuffix>am</span>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" id="campos">
                        <mat-label>Hora de Salida</mat-label>
                        <input type="number" min="1" max="24" name="horaDeSalida" formControlName="horaSalida" matInput>
                        <span matSuffix>pm</span>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" id="campos">
                        <mat-label>Horas Trabajadas</mat-label>
                        <mat-icon matSuffix class="secondary-text">home</mat-icon>
                        <input type="number" min="1" max="24" name="horasTrabajadas" formControlName="horasTrabajadas" matInput>
                    </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" id="text-area-width">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="6" name="comentario" formControlName="comentario" type="text"></textarea>
                </mat-form-field>
            </div>
            <div class="button-padding" *ngIf="registroMultiple == true">
                <button mat-button class="button-color"  aria-label="REGRESAR" (click)="onSubmit()">
                    Agregar
                </button>
            </div>

            <div class="example-container mat-elevation-z8" *ngIf="registroMultiple == true">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Dia </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <!-- Empleado Column -->
                  <ng-container matColumnDef="empleado">
                    <th mat-header-cell *matHeaderCellDef> Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.empleado}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Hora Ingreso </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Hora Salida </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Horas Trabajadas </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>

                  <!-- Coment Column -->
                  <ng-container matColumnDef="coment">
                    <th mat-header-cell *matHeaderCellDef> Comentario </th>
                    <td mat-cell *matCellDef="let element"> {{element.coment}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div class="button-manage">
                    <button mat-button class="button-color" mat-raised-button aria-label="GUARDAR">
                        Guardar
                    </button>
    
                    <button mat-button class="button-color" mat-raised-button aria-label="LIMPIAR">
                        Limpiar
                    </button>
            </div>
          </div>
    </mat-card-content>
</mat-card>