@import "src/@fuse/scss/fuse";

#horas-registrar{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    #horas-registrar-mat-card{
        width: 100%;
        float: left;
        //border-style: solid;
        //border-color: rgb(0, 162, 206);
        //border-width: unset;
        //padding-top: 0px;
    }

    #horas-registrar-agregar{
        width: 100%;
        float: left;
    }

    #horas-registrar-agregar-mat-card{
        height: 200px;
        width: 100%;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }

    #horas-titulo {
        width: 90%;
        float: left;
    }

    #horas-regresar {
        width: 10%;
        float: left;
        padding-top: 15px;
        padding-left: 3.5%;
    }

    #horas-agregar {
        width: 100%;
        float: left;
    }

    .horas-todos {
        width: 100%;
        float: left;
    }

    .hora-todos-medium{
        width: 50%;
        float: left;
    }

    #horas-colaborador{
        width: 50.5%;
        float: left;
        padding-right: 1%;
    }

    #horas-fecha{
        width: 25.3%;
        float: left;
        padding-right: 1%;
    }

    #horas-consumo{
        width: 24.2%;
        float: left;
    }

    #horas-inicio{
        width: 50%;
        float: left;
        padding-right: 1%;
    }

    #horas-fin{
        width: 50%;
        float: left;
        padding-left: 1%;
        padding-right: 1%;
    }

    #horas-motivo{
        width: 100%;
        float: left;
        padding-left: 1%;
    }

    #agregarHorasExtrasNuevas{
        width: 20%;
        float: left;
        padding-top: 1.5%;
    }

    #registrar {
        width: 50%;
        float: left;
        padding-left: 39.8%;
        padding-right: 2.5%;
    }

    #limpiar {
        width: 50%;
        float: left;
        padding-left: 2.5%;
    }

    #horas-registros {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }

    table {
        width: 100%;
    }

    .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: red;
    }
    
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
    }
    
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: red !important;
    }

    .horas-button {
        background: rgb(0, 162, 206);
        color: white;
    }
    .horas-button:hover {
        background: blue;
        color: white;
    }
}