@import "src/@fuse/scss/fuse";
 
#searchEmploye {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    #buscarPrincil{
        height: 100%; 
        width: 100%; 
    }

    #buscarColaborador{
        width: 100%;
        float: left;
    }

    #busqueda-colaboradores{
        height: 250px;
        width: 100%; 
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }

    #titulo {
        width: 90%;
        float: left;
    }

    #nuevo {
        width: 10%;
        float: left;
        padding-top: 15px;
        padding-left: 22px;
    }

    #filtros {
        width: 100%;
        float: left;
    }

    #tipoDocumento {
        width: 34%;
        float: left;
        padding-right: 1%;
    }

    #numDocumento {
        width: 33%;
        float: left;
        padding-right: 1%;
    }

    #estado {
        width: 33%;
        float: left;
    }

    #name {
        width: 100%;
        float: left;
    }

    #buscar {
        width: 50%;
        float: left;
        padding-left: 39.8%;
        padding-right: 2.5%;
    }

    #limpiar {
        width: 50%;
        float: left;
        padding-left: 2.5%;
    }

    #modificar {
        width: 10%;
        float: left;
        padding-top: 20px;
    }

    table {
        width: 100%;
    }

    .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white;
    }

    #registros {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }

    /*
    .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
        background-color: red !important;
     }
     */
     // input outline color
     .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
     }
  
     // mat-input focused color
     .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: red !important;
     }
     /*
     // mat-input error outline color
     .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
        color: red !important;
        opacity: 0.8 !important;
     }
  
     // mat-input caret color
     .mat-input-element {
        caret-color: red !important;
     }
  
     // mat-input error caret color
     .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
        caret-color: red !important;
     }
  
     // mat-label normal state style
     .mat-form-field-label {
        color: red !important;
     }
  
     // mat-label focused style
     .mat-form-field.mat-focused .mat-form-field-label {
        color: red !important;
     }
  
     // mat-label error style
     .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: red !important;
     }*/

    .search-button {
        background: rgb(0, 162, 206);
        color:white;
    }
    .search-button:hover {
        background: blue;
        color:white;
    }
}
