#controlVacation{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }
    #inputEmploye{
        width: 65%;
        float: left;
        padding-right: 5%;
    }
    #estado{
        width: 35%;
        float: left;
        padding-right: 5%;
    }
    #buttonSearch{
        width: 30%;
        float: right;
        padding-left: 30%;
    }
   
    #buttonClean{
        padding-left: 15%;
        width: 30%;
        float: right;
    }
    #buttonColor{
        background-color: rgb(0, 162, 206);
    }
    #tableVacation{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    table{
        width: 100%;
    }
    .mat-header-cell, .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 12px;
        color: white !important;
    } 
}