<mat-card class="mat-elevation-z0 width-card">
    <div id="searchPermits" class="page-layout blank">

        <div fxLayout="row">
            <div fxLayoutAlign="left start" id="titulo">
                <h1>Administrar Permisos</h1>
            </div>
            <div id="agregar">
                <button id="buttonColor" [routerLink]="'/apps/permits/managePermits'" mat-button mat-raised-button
                    color="primary" aria-label="Nuevo">
                    Nuevo
                </button>
            </div>
        </div>
        <mat-card class="marco">
            <form [formGroup]="formGroup">
                <div fxLayout="row">
                    <div fxLayoutAlign="left start" id="inputEmploye">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Colaborador</mat-label>
                            <input type="text" name="empleado" formControlName="empleado" placeholder="Seleccione"
                                aria-label="Number" matInput [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.employeeTo.employeeCompleteName" (click)="clickEmpleadoSeleccionado(option.employeeTo.employeePk)">
                                    {{option.employeeTo.employeeCompleteName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div fxLayoutAlign="left start" id="selectEstado">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estado" name="estado" required>
                                <mat-option value=0>-Seleccione-</mat-option>
                                <mat-option value=1>Pendiente</mat-option>
                                <mat-option value=2>Confirmado</mat-option>
                                <mat-option value=3>Rechazado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxLayoutAlign="left start" id="motivo">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Motivo</mat-label>
                            <mat-select name="motivo" formControlName="motivo">
                                <mat-option value="">-Seleccione-</mat-option>
                                <mat-option *ngFor="let mot of motivos" [value]="mot.motivo">
                                    {{mot.motivo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div id="fechaInicial">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Permiso Inicial</mat-label>
                            <input matInput [matDatepicker]="assistanceDatePicker" formControlName="diaAsistencia"
                                name="diaDeAsistencia" placeholder="{{today}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div id="fechaFinal">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Permiso Final</mat-label>
                            <input matInput [matDatepicker]="assistanceDatePickerFinal"
                                formControlName="diaAsistenciaFinal" name="diaAsistenciaFinal" placeholder="{{today}}">
                            <mat-datepicker-toggle matSuffix [for]="assistanceDatePickerFinal"></mat-datepicker-toggle>
                            <mat-datepicker #assistanceDatePickerFinal></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div id="buscar">
                    <button class="search-button" mat-raised-button color="primary" aria-label="BUSCAR"
                        (click)="applyFilter()">
                        Buscar
                    </button>
                </div>
                <div id="limpiar">
                    <button class="search-button" mat-raised-button color="primary" aria-label="LIMPIAR" (click)="limpiar()">
                        Limpiar
                    </button>
                </div>
            </form>
        </mat-card>

        <div id="buttons" fxLayout="row">
            <div id="buttonConfirm">
                <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo" (click)="confirmarPermiso()">
                    Confirmar
                </button>
            </div>
            <div id="buttonRefuse">
                <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo" (click)="rechazarPermiso()">
                    Rechazar
                </button>
            </div>
            <div>
                <button id="buttonColorModificar" mat-button mat-raised-button color="primary" aria-label="Nuevo" (click)="modificarPermiso()" [disabled]= "blnModificar">
                    Modificar
                </button>
            </div>
        </div>
        <div id="permisos">
            <div>
                <mat-paginator style="float: left;" style-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                </mat-paginator>
                <table class="mat-elevation-z8" mat-table [dataSource]="datos">

                    <ng-container matColumnDef="dni">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                    </ng-container>

                    <ng-container matColumnDef="employe">
                        <th mat-header-cell *matHeaderCellDef> Empleado </th>
                        <td mat-cell *matCellDef="let element"> {{element.employe}} </td>
                    </ng-container>

                    <ng-container matColumnDef="motivo">
                        <th mat-header-cell *matHeaderCellDef> Motivo </th>
                        <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef> Sustento </th>
                        <td mat-cell *matCellDef="let element"><a>{{element.tipo}}</a></td>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element">{{element.estado}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox [disabled]="false" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index;">
                            <mat-checkbox (click)="$event.stopPropagation();"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!--<mat-checkbox>Check me!</mat-checkbox>-->
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
        </div>

    </div>
</mat-card>