.width-card {
    margin: 20px;
    width: 100%;
}
@import "src/@fuse/scss/fuse";
#searchPermits{
    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }
    #agregar{
        float: left;
        padding-top: 15px;
        padding-left: 12%;
    }
    #inputEmploye{
        width: 75%;
        float: left;
        padding-right: 55px;
    }
    #inputEmploye2{
        width: 93%;
        float: left;
        padding-top:2%
    }
    #selectEstado{
        width: 25%;
        float: left;
       
    }
    #search{
        width: 10%;
        float: left;  
        padding-right: 2%;
    }
    #inputSearch{
        width: 40%;
        float: left;  
        padding-right: 5%;
    }
    
    #motivo{
        width: 35%;
        float: left;
        padding-right: 5%;
    }
    #fechaInicial{
        width: 40%;
        float: left;
        padding-right: 5%;
    }
    #fechaFinal{
        width: 25%;
        float: left;
    }
    #buttonSearch{
        width: 30%;
        float: right;
        padding-left: 30%;
    }
   
    #buttonClean{
        padding-left: 15%;
        width: 30%;
        float: right;
    }
    #buttons{
        padding-top: 5%;
    }
    #buttonConfirm{
        padding-right: 5%;
    }
    #buttonRefuse{
        padding-right: 5%;
    }
    #permisos{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 2%;
    }
    table{
        width: 100%;
    }
    #buttonColor{
        background-color: rgb(0, 162, 206);
    }
    #buttonColorModificar{
        background-color: rgb(0, 162, 206);
    }
}

.mat-header-cell, .mat-sort-header {
    background-color: rgb(0, 162, 206);
    font-size: 16px;
    color: white !important;
} 



.marco {
    border-style: solid;
    border-color: rgb(0, 162, 206);
    border-width: unset;
}

#buscar {
    width: 50%;
    float: left;
    padding-left: 39.8%;
    padding-right: 2.5%;
}

.search-button {
    background: rgb(0, 162, 206) !important;
    color:white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0, 162, 206) !important;
 }