

.agregar {
    display: block;
    text-align: center;
}

#titulo {
    align-items: flex-start;
    text-align: left;
    display: flex;
}

.labelI {
    text-align: left;
    display: inherit;
}

.add-input {
    display: block;
    width: 100%;
    text-align: none;
}

.agregar button {
    align-content: center;
}

.editar {
    display: block;
    text-align: center;
}

.edit-input {
    display: block;
    width: 100%;
    text-align: none;
}

.edit-button {
    margin: 8px;
    align-content: center;
}