<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">CHANGE PASSWORD</div>

            <form name="changeConfirmPasswordForm" [formGroup]="changeConfirmPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Code Verify</mat-label>
                    <input matInput formControlName="codeverify">
                    <mat-icon matSuffix class="secondary-text">notification_important</mat-icon>
                    <mat-error *ngIf="changeConfirmPasswordForm.get('codeverify').hasError('codeverify')">
                        Code verify is required
                    </mat-error>
                    <mat-error *ngIf="changeConfirmPasswordForm.get('codeverify').hasError('codeverify')">
                        Please enter a code verifi
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="newpassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changeConfirmPasswordForm.get('newpassword').hasError('newpassword')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="changeConfirmPasswordForm.get('newpassword').hasError('newpassword')">
                        Please enter a password
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmnewpassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changeConfirmPasswordForm.get('confirmnewpassword').hasError('confirmnewpassword')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="changeConfirmPasswordForm.get('confirmnewpassword').hasError('confirmnewpassword')">
                        Please confirm a password
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="CHANGE PASSWORD" [disabled]="changeConfirmPasswordForm.invalid" (click)="changeConfirmPassword()">
                    RESET PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="" (click)="resendCode()">Resend code  |</a>
                <a class="link" [routerLink]="'/pages/auth/login-2'">|  Go back to login</a>
            </div>

        </div>

    </div>

</div>
