// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.my-panel .mat-dialog-container {
    border-radius: 20px;
}

.cdk-overlay-pane.my-panel {
  position: relative!important;
}
.close.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  margin: 1px;
  min-width: auto;
}