.width-card {
    margin: 20px;
    width: 100%;
}
#assistance-search-manage {

    padding-left: 15px;
    padding-right: 15px;

    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }

    #agregar{
        float: right;
        padding-top: 15px;
    }

    #text-area-width {
        width: 100%;
    }

}

textarea {
    resize: none;
}

.button-manage {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    button {
        margin-right: 5%;
    }
}

.first-row-assistance {
    display: flex;
    mat-form-field {
        padding-right: 5%;
    }
}

.second-row-assistance {
    display: flex;
    mat-form-field {
        padding-right: 5%;
    }
}

.third-row-assistance {
    display: flex;
    mat-form-field {
        padding-right: 5%;
    }
}

#campos{
    width: 300px;
}
// tabla

.example-container {
    height: auto;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .button-padding{
    padding-bottom: 15px;
  }

  .button-color{
    background-color: rgb(0, 162, 206) !important;
    color: white !important;
  }

/*
ANTIGUO PORSIACA
=========================================================================================================
@import "src/@fuse/scss/fuse";
.width-card {
    margin: 20px;
    width: 100%;
}
#assistance-manage {

    padding-left: 15px;
    padding-right: 15px;

    #asistencia{
        width: 100%;
        float: left;
    }

    #empleado{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #diaAsistencia{
        width: 45%;
        float: left;
        padding-right: 13%;
    }

    #horaDeEntrada{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #horaDeSalida{
        width: 33%;
        float: left;
        padding-right: 10px;
    }

    #horasTrabajadas{
        width: 33%;
        float: left;
    }

    #comentario{
        width: 66%;
        float: left;
    }

    textarea {
        resize: none;
        height: 120px;
    }

    #horasAcumuladas{
        width: 100%;
        float: left;
    }

    #horaAFavor{
        width: 35%;
        float: left;
        padding-right: 10px;
    }

    #horaEnContra{
        width: 34%;
        float: left;
        padding-right: 10px;
    }

    #guardar{
        width: 20%;
        float: left;
        padding-left: 26%;
        padding-right: 20%;
        padding-bottom: 2%;
    }

    #limpiar{
        width: 20%;
        float: left;
        padding-right: 20%;
        padding-bottom: 2%;
    }

    #regresar{
        width: 20%;
        float: left;
        padding-bottom: 2%;
    }

}

*/